<div class="container">
    <div class="card p-5 my-4 shadow-sm">
        <h3>Hello Node Js || About page</h3>
        <div class="about content">
            Bla Bla Bla
        </div>
    </div>
</div>