<div class="home p-5 my-4">
    <div class="container">
        <h3>Hello Node Js</h3>
        <div class="card p-4 shadow-sm">
            <p class='line-height'>
                This is a simple blog application built using <b>Node.js</b>, <b>Express</b>, and <b>EJS</b>. It
        allows
        users to view blog posts,
        compose new ones, and navigate between different pages. The backend is powered by Express for
        routing,
        while EJS
        is used as the templating engine to render dynamic content. It's a great starting point for
        understanding how
        server-side rendering works in a full-stack web application.
            </p>
        </div>
    </div>
</div>