<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container">
                <div class="py-5">

                    <h1>Hello Node Js mmm|| Home page</h1>
                    <div class="text-secondary">
                        This is a simple blog application built using <b>Node.js</b>, <b>Express</b>, and <b>EJS</b>. It
                        allows
                        users to view blog posts,
                        compose new ones, and navigate between different pages. The backend is powered by Express for
                        routing,
                        while EJS
                        is used as the templating engine to render dynamic content. It's a great starting point for
                        understanding how
                        server-side rendering works in a full-stack web application.
                    </div>
                    <hr>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>