<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    
    <main>
      <!-- This will be replaced by actual page content -->
      <%- body %>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
